version: "3.9"

services:
  app:
    build: .
    container_name: notes-app
    environment:
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - TZ=Asia/Jerusalem
    volumes:
      - db_data:/app/data
    restart: unless-stopped

  cron:
    build:
      context: .
      dockerfile: cron/Dockerfile
    container_name: notes-cron
    environment:
      - TZ=Asia/Jerusalem
    volumes:
      - db_data:/app/data
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/www:/var/www/certbot
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
    depends_on:
      - app

  certbot:
    image: certbot/certbot
    volumes:
      - ./nginx/www:/var/www/certbot
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: unless-stopped


volumes:
  db_data:
  certbot-etc:
  certbot-var: